h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  line-height: 1.4;
}
a,
li,
ul,
p,
button,
input,
span,
select,
option {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
}
a {
  outline: none;
  text-decoration: none;
}
h1 {
  font-size: 44px;
  font-weight: bold;
  padding-bottom: 30px;
  letter-spacing: -2px;
}
h2 {
  font-size: 44px;
  font-weight: bold;
  padding-bottom: 30px;
  letter-spacing: -2px;
}
h3 {
  font-size: 24px;
  padding-bottom: 20px;
  letter-spacing: -0.5px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
* {
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
