.footer {
  display: block;
  width: 100%;
  position: relative;
  height: 150px;
  button {
    background: unset;
    font-weight: normal;
    color: #333;
    font-size: 13px;
    width: 20%;
    margin: 2.5%;
    border: 0;
    &:hover {
      background: #eee;
      opacity: 0.8;
      transition: 0.2s;
    }
  }
}
